<footer class="bg-theme-gold py-5">
	<div class="container">
		<div class="row justify-content-center">

			<!--imdb-->
			{% include common/footer/footer-link.html socialmedia=site.data.socialmedia.imdb %}

			<!--instagram-->
			{% include common/footer/footer-link.html socialmedia=site.data.socialmedia.instagram %}

			<!--twitter-->
			{% include common/footer/footer-link.html socialmedia=site.data.socialmedia.twitter %}

			<!--facebook-->
			{% include common/footer/footer-link.html socialmedia=site.data.socialmedia.facebook %}

			<!--email-->
			{% include common/footer/footer-link.html socialmedia=site.data.socialmedia.email %}

		</div>
	</div>
</footer>