<!--social media-->
<div class="w-100 d-flex flex-row justify-content-center pt-3">

	<!--imdb-->
	{% include contact/contact-link.html socialmedia=site.data.socialmedia.imdb %}

	<!--instagram-->
	{% include contact/contact-link.html socialmedia=site.data.socialmedia.instagram %}

	<!--twitter-->
	{% include contact/contact-link.html socialmedia=site.data.socialmedia.twitter %}

	<!--facebook-->
	{% include contact/contact-link.html socialmedia=site.data.socialmedia.facebook %}

	<!--email-->
	{% include contact/contact-link.html socialmedia=site.data.socialmedia.email %}

</div>