<section class="page-section pt-4">
	<div class="container">

		<div class="row">

			<!--social media-->
			<div class="col-md-4 offset-md-4 mb-5 mb-md-0 d-flex flex-column justify-content-center">

				<div class="row justify-content-center">

					<!--imdb-->
					<div class="text-center mx-4">
						<h4>IMDb</h4>
						<a href="{{ site.data.socialmedia.imdb.url }}"
						   target="_blank">
							<i class="fab fa-imdb fa-3x imdb-black"></i>
						</a>
					</div>

					<!--instagram-->
					<div class="text-center mx-4">
						<h4>Instagram</h4>
						<a href="{{ site.data.socialmedia.instagram.url }}"
						   target="_blank">
							<i class="fab fa-instagram fa-3x instagram-purple"></i>
						</a>
					</div>

					<!--email-->
					<div class="text-center mx-4">
						<h4>Email</h4>
						<a href="mailto:{{ site.data.socialmedia.email.general }}">
							<i class="fas fa-envelope fa-3x text-theme-gold"></i>
						</a>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>