---
layout: compress
css-file: css/404.css
---
<!doctype html>
<html amp lang="en">

	<!--head-->
	{% include common/head/head-404.html %}

	<!--body-->
	<body>
		<!-- navigation -->
		{% include common/amp-navbar.html %}

		<div class="h-100vh d-flex flex-column justify-content-between">
			<!--content-->
			<div>{% include pages/404.html %}</div>

			<div>
				<!-- footer -->
				{% include common/footer/footer.html %}

				<!--google analytics-->
				{% include common/amp-google-analytics.html %}
			</div>
		</div>
	</body>
</html>