{% assign preferred-ext = include.img.ext | first %}
{% assign safe-ext = include.img.ext | last %}
{% assign ext-count = include.img.ext | size %}

<!--placeholder: bg-white-->
<amp-img class="bg-white {{ include.class }}"
         {% include common/img/amp-img-attributes.html img=include.img ext=preferred-ext %}>

	<!--fallback-->
	{% if ext-count > 1 %}

		<amp-img fallback
		         {% include common/img/amp-img-attributes.html img=include.img ext=safe-ext %}>
		</amp-img>
	{% endif %}

	<!--no script - fallback-->
	<noscript>
		<img {% include common/img/img-attributes.html img=include.img ext=safe-ext %}>
	</noscript>

</amp-img>