{% assign preferred-ext = include.img.ext | first %}
{% assign safe-ext = include.img.ext | last %}

<!--placeholder: bg-gray-->
<amp-img class="bg-gray" {% include common/img/amp-img-attr.html img=include.img ext=preferred-ext %}>

	<!--fallback-->
	{% if include.img.ext | size > 1 %}

		<amp-img fallback
		         {% include common/img/amp-img-attr.html img=include.img ext=safe-ext %}>
		</amp-img>
	{% endif %}

	<!--no script - fallback-->
	<noscript>
		<img {% include common/img/amp-img-attr-src-size-alt.html img=include.img ext=safe-ext %}>
	</noscript>

</amp-img>