{% assign preferred-ext = include.img.ext | first %}
{% assign safe-ext = include.img.ext | last %}
{% assign ext-count = include.img.ext | size %}

{% assign placeholder-class = "bg-gray" %}
{% if include.placeholder %}
	{% assign placeholder-class = include.placeholder %}
{% endif %}

<!--placeholder: bg-gray-->
<amp-img class="{{ placeholder-class }} {{ include.class }}" {% include common/img/amp-img-attr.html img=include.img ext=preferred-ext %}>

	<!--fallback-->
	{% if ext-count > 1 %}

		<amp-img fallback
		         {% include common/img/amp-img-attr.html img=include.img ext=safe-ext %}>
		</amp-img>
	{% endif %}

	<!--no script - fallback-->
	<noscript>
		<img {% include common/img/amp-img-attr-src-size-alt.html img=include.img ext=safe-ext %}>
	</noscript>

</amp-img>