<!--lg-->
{% include common/img/picture-source.html
		picture=include.picture
		size=include.picture.sizes.lg
		min-width="992"
		ext=include.ext
%}

<!--md-->
{% include common/img/picture-source.html
		picture=include.picture
		size=include.picture.sizes.md
		min-width="768"
		ext=include.ext
%}

<!--sm-->
{% include common/img/picture-source.html
		picture=include.picture
		size=include.picture.sizes.sm
		min-width="415"
		ext=include.ext
%}

<!--phone-->
{% include common/img/picture-source.html
		picture=include.picture
		size=include.picture.sizes.phone
		ext=include.ext
%}