@import "../variables";

// body
body,
html {
  color: $eerie-black;
  background-color: $isabelline;
}

// div
hr.divider {
  border-color: $metallic-sunburst;
}

.text-theme-white {
  color: $isabelline !important;
}

.bg-theme-black {
  background-color: $eerie-black !important;
}

.bg-theme-gold {
  background-color: $metallic-sunburst !important;
}

.bg-theme-red {
  background-color: $cinnabar !important;
}

.bg-theme-white {
  background-color: $isabelline !important;
}