@import "../variables";

.pointer, .btn {
  cursor: pointer;
}

.facebook-blue, a.facebook-blue {
  color: $facebook-blue;
}

.imdb-black, a.imdb-black {
  color: $imdb-black;
}

.instagram-purple, a.instagram-purple {
  color: $instagram-purple;
}

.linkedin-blue, a.linkedin-blue {
  color: $linkedin-blue;
}

.twitter-blue, a.twitter-blue {
  color: $twitter-blue;
}

.vimeo-blue, a.vimeo-blue {
  color: $vimeo-blue;
}

.youtube-red, a.youtube-red {
  color: $youtube-red;
}