$navbar-height: 78px; // duplicate variable
$reel-iframe-buffer: 80px;

.reel-section {
  //height: calc(100vh);
}

.reel-iframe {
  width: 95%;
  height: calc(95vw * 138 / 249);
  max-height: calc(95vh - #{$navbar-height} - #{$reel-iframe-buffer});
  max-width: calc(95vh * 249 / 138 - #{$reel-iframe-buffer});
}

.reel__title {
  font-size: 1.5rem;
}

.reel__watch-on-youtube {

}