.video-iframe {
  width: 290px;
  height: 163px;

  border: solid 1px white;
}

@media (min-width: 500px) {
  .video-iframe {
    width: 470px;
    height: 264px;
  }
}

/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min)*/
@media (min-width: 768px) {
  .video-iframe {
    width: 738px;
    height: 415px;
  }
}