.web-series__section {

  .web-series__info {
    border-bottom: solid 1px $primary;
  }

  .web-series__banner.progressive {

    position: static;

    img {
      height: calc(60vh - #{$navbar-height});
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @media (min-width: 500px) {

  }

  /* Small devices (tablets, 768px and up) */
  /*@media (min-width: @screen-sm-min)*/
  @media (min-width: 768px) {
    .web-series__banner.progressive img {
      height: calc(100vh - #{$navbar-height});
    }
  }

  .web-series__watch-on {
    font-size: 1.3em;
  }

  .web-series__youtube-icon {
    width: 12em;
  }

  p {
    font-size: 1.2rem;
  }
}