<section class="page-section bg-secondary" id="acting-reel">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">

				<h2 class="text-white mt-0">Acting Reel</h2>
				<hr class="divider light my-4">
				<!--<p class="text-white mb-4">For more information, check out imdb.</p>-->

				<div class="text-center mb-4">
					<iframe src="https://player.vimeo.com/video/227994295?title=0&byline=0&portrait=0"
					        frameborder="0" class="video-iframe"
					        webkitallowfullscreen mozallowfullscreen allowfullscreen>
					</iframe>
				</div>

				<!--<a class="btn btn-light btn-xl js-scroll-trigger" href="#services">imdb</a>-->

			</div>
		</div>
	</div>
</section>