<section class="page-section" id="comedy">
	<div class="container">
		<h2 class="text-center mt-0">Stand-up Comedy</h2>
		<hr class="divider my-4">
		<div class="row">

			<div class="col-lg-6 col-md-6 text-center">
				<div class="mt-5">
					<i class="fas fa-4x fa-gem text-primary mb-4"></i>
					<h3 class="h4 mb-2">Sturdy Themes</h3>
					<p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
				</div>
			</div>

			<div class="col-lg-6 col-md-12 text-center">
				<div class="mt-5">
					<table class="table">
						<tr>
							<th>date</th>
							<th>show / venue</th>
							<th>city</th>
						</tr>
						<tr>
							<td>1/16/2019</td>
							<td>
								<span>Uncle Clyde's Comedy Contest</span>
								<br/>
								<span class="text-muted">Flappers Comedy Club</span>
							</td>
							<td>Los Angeles, CA</td>
						</tr>
						<tr>
							<td>12/9/2018</td>
							<td>
								<span>Swingin' Sundays</span>
								<br/>
								<span class="text-muted">Flappers Comedy Club</span>
							</td>
							<td>Los Angeles, CA</td>
						</tr>
						<tr>
							<td>6/22/2018</td>
							<td>
								<span>Speakeasy Weekend Showcase</span>
								<br/>
								<span class="text-muted">Flappers Comedy Club</span>
							</td>
							<td>Los Angeles, CA</td>
						</tr>
						<tr>
							<td>5/4/2018</td>
							<td>
								<span>May the Fourth be Funny</span>
								<br/>
								<span class="text-muted">Flappers Comedy Club</span>
							</td>
							<td>Los Angeles, CA</td>
						</tr>
						<tr>
							<td>4/22/2017</td>
							<td>
								<span>ClusterFunk</span>
								<br/>
								<span class="text-muted">Music City Rehearsal</span>
							</td>
							<td>San Francisco, CA</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>