<section class="page-section bg-secondary text-white" id="comedy">
	<div class="container">
		<h2 class="text-center mt-0">Stand-Up</h2>
		<hr class="divider my-4">

		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-md-12 text-center">
				<p class="text-white-alt mb-0">Stand-up comedy show schedule</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-12 text-center">
				<div class="mt-5">
					<table class="table text-white">
						<tr>
							<th>date</th>
							<th>show / venue</th>
							<th>city</th>
						</tr>
						<tr>
							<td>1/16/2019</td>
							<td>
								<span>Uncle Clyde's Comedy Contest</span>
								<br/>
								<span class="text-muted">Flappers Comedy Club</span>
							</td>
							<td>Los Angeles, CA</td>
						</tr>
						<tr>
							<td>12/9/2018</td>
							<td>
								<span>Swingin' Sundays</span>
								<br/>
								<span class="text-muted">Flappers Comedy Club</span>
							</td>
							<td>Los Angeles, CA</td>
						</tr>
						<tr>
							<td>6/22/2018</td>
							<td>
								<span>Speakeasy Weekend Showcase</span>
								<br/>
								<span class="text-muted">Flappers Comedy Club</span>
							</td>
							<td>Los Angeles, CA</td>
						</tr>
						<tr>
							<td>5/4/2018</td>
							<td>
								<span>May the Fourth be Funny</span>
								<br/>
								<span class="text-muted">Flappers Comedy Club</span>
							</td>
							<td>Los Angeles, CA</td>
						</tr>
						<tr>
							<td>4/22/2017</td>
							<td>
								<span>ClusterFunk</span>
								<br/>
								<span class="text-muted">Music City Rehearsal</span>
							</td>
							<td>San Francisco, CA</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>