<section class="page-section bg-secondary text-white-alt" id="contact">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="mt-0 text-white">Contact</h2>
				<hr class="divider my-4">
				<p class="mb-5 mx-2">
					Want to collaborate or find out more? Email or reach out on Instagram!
				</p>
			</div>
		</div>
		<div class="row">

			<!--instagram-->
			<div class="col-lg-4 ml-auto text-center mb-4">
				<h4 class="text-white-alt pb-3">Instagram</h4>
				<a href="https://www.instagram.com/dseltzer/" target="_blank">
					<i class="fab fa-instagram fa-3x mb-1 instagram-purple"></i>
					<div class="text-white-alt">@dseltzer</div>
				</a>
			</div>

			<!--email-->
			<div class="col-lg-4 mr-auto text-center">
				<h4 class="text-white-alt pb-3">Email</h4>
				<a class="d-block" href="mailto:contact@davidseltzer.com">
					<i class="fas fa-envelope fa-3x mb-1 text-primary"></i>
					<!-- Make sure to change the email address in anchor text AND the link below! -->
					<div class="text-white-alt">contact@davidseltzer.com</div>
				</a>
			</div>
		</div>
	</div>
</section>