<section class="page-section" id="contact">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="mt-0">Contact</h2>
				<hr class="divider my-4">
				<p class="text-muted mb-5">
					Want to collaborate or find out more? Send an email or reach out on Instagram!
				</p>
			</div>
		</div>
		<div class="row">

			<!--instagram-->
			<div class="col-lg-4 ml-auto text-center mb-4">
				<a href="https://www.instagram.com/dseltzer/" target="_blank">
					<i class="fab fa-instagram fa-3x mb-1 instagram-purple"></i>
					<div>@dseltzer</div>
				</a>
			</div>

			<!--email-->
			<div class="col-lg-4 mr-auto text-center">
				<a class="d-block" href="mailto:contact@davidseltzer.com">
					<i class="fas fa-envelope fa-3x mb-1 text-primary"></i>
					<!-- Make sure to change the email address in anchor text AND the link below! -->
					<div>contact@davidseltzer.com</div>
				</a>
			</div>
		</div>
	</div>
</section>