<section class="page-section bg-white" id="contact">
	<div class="container">

		<!--header-->
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="mt-0">contact</h2>
				<hr class="divider my-4">
			</div>
		</div>

		<div class="row">

			<!--social media-->
			<div class="col-md-4 offset-md-4 mb-5 mb-md-0 d-flex flex-column justify-content-center">

				<div class="row justify-content-center">

					<!--imdb-->
					<div class="text-center mx-4">
						<h4 class="text-accent">IMDb</h4>
						<a href="https://www.imdb.com/name/nm9420509/"
						   target="_blank">
							<i class="fab fa-imdb fa-3x imdb-black"></i>
						</a>
					</div>

					<!--instagram-->
					<div class="text-center mx-4">
						<h4 class="text-accent">Instagram</h4>
						<a href="https://www.instagram.com/davidjohnseltzer/"
						   target="_blank">
							<i class="fab fa-instagram fa-3x instagram-purple"></i>
						</a>
					</div>

				</div>

			</div>

		</div>

	</div>
</section>