<section class="page-section bg-secondary" id="gallery">
	<div class="container">
		<div class="row justify-content-center">
			<div class="text-center">

				<h2 class="text-white mt-0">Gallery</h2>
				<hr class="divider light my-4">

				<div class="row">

					<div class="col-lg-6 col-12">
						<div class="m-3">
							<img class="img-fluid" src="/img/stills/david-john-seltzer-still-1.png"/>
						</div>
					</div>

					<div class="col-lg-6 col-12">
						<div class="m-3">
							<img class="img-fluid" src="/img/stills/david-john-seltzer-still-2.png"/>
						</div>
					</div>

					<div class="col-lg-6 col-12">
						<div class="m-3">
							<img class="img-fluid" src="/img/stills/david-john-seltzer-still-3.png"/>
						</div>
					</div>

					<div class="col-lg-6 col-12">
						<div class="m-3">
							<img class="img-fluid" src="/img/stills/david-john-seltzer-still-4.png"/>
						</div>
					</div>

					<div class="col-lg-6 col-12">
						<div class="m-3">
							<img class="img-fluid" src="/img/stills/david-john-seltzer-still-5.png"/>
						</div>
					</div>

					<div class="col-lg-6 col-12">
						<div class="m-3">
							<img class="img-fluid" src="/img/stills/david-john-seltzer-still-6.png"/>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>