<section class="reel-section bg-youtube-player-dark" id="reel">

	<div class="justify-content-center text-center bg-black w-100">

		<!--video-->
		<iframe class="reel-iframe"
		        src="https://www.youtube.com/embed/9w6QEtSGA_8?rel=0"
		        frameborder="0"
		        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
		        allowfullscreen>
		</iframe>
	</div>

	<div class="d-flex flex-row justify-content-between mx-4 my-4">

		<!--title-->
		<div class="text-youtube-player text-white reel__title">Acting Reel</div>

		<!--watch on youtube-->
		<div class="d-flex flex-column justify-content-center">
			<a class="text-youtube-player text-youtube-share reel__watch-on-youtube"
			   href="https://www.youtube.com/watch?v=9w6QEtSGA_8"
			   target="_blank">Watch on YouTube</a>
		</div>
	</div>

</section>