<section class="reel-section bg-accent py-5" id="reel">

	<!--section title-->
	<h2 class="text-white text-center mb-5">acting reel</h2>

	<!--video-->
	<div class="justify-content-center text-center w-100">

		<iframe class="reel-iframe progressive-iframe bg-primary"
		        data-src="https://www.youtube.com/embed/9w6QEtSGA_8?rel=0"
		        src=""
		        frameborder="0"
		        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
		        allowfullscreen>
		</iframe>
	</div>

	<!--watch on youtube-->
	<div class="d-flex flex-row justify-content-center my-4">

		<a class="reel__watch-on-youtube"
		   href="https://www.youtube.com/watch?v=9w6QEtSGA_8"
		   target="_blank">Watch on YouTube</a>
	</div>

</section>