{% if section.resume != blank %}

	{% for resume_section in section.resume %}

		<div class="resume-item d-flex flex-column flex-md-row mb-5">
			<div class="resume-content mr-auto w-100">

				<!--type-->
				<h3 class="mb-0">{{ resume_section.heading }}</h3>

				<!--credits-->
				<table class="table">

					{% for row in resume_section.rows %}
						<tr>
							{% for item in row %}

								{% if forloop.first == true %}
									<th>{{ item }}</th>
								{% elsif forloop.last == true %}
									<td class="text-right">{{ item }}</td>
								{% else %}
									<td>{{ item }}</td>
								{% endif %}

							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>

	{% endfor %}

{% endif %}