<section class="stand-up-section" id="stand-up">

	<div class="row w-100 mx-0">

		<div class="col-md-6 col-12 order-md-0 order-1 pt-5 mt-2">

			<!--title-->
			<h2 class="text-center my-0">stand-up</h2>
			<hr class="divider my-4">

			<table class="table">
				<tr>
					<td class="text-accent text-uppercase text-bold align-middle">Jan 16<br/>2019</td>
					<td class="text-primary text-barry align-middle">Los Angeles, CA</td>
					<td class="align-middle">
<!--						<span class="text-primary font-weight-bold">Uncle Clyde's Comedy Contest</span>-->
<!--						<br/>-->
						<span class="text-accent text-bold">Flappers Comedy Club</span>
					</td>
					<td class="align-middle">
						<button class="btn btn-primary" disabled="disabled">Tickets</button>
					</td>
				</tr>

				<tr>
					<td class="text-accent text-uppercase text-bold align-middle">Dec 9<br/>2018</td>
					<td class="text-primary text-barry align-middle">Los Angeles, CA</td>
					<td class="align-middle">
<!--						<span class="text-primary font-weight-bold">Swingin' Sundays</span>-->
<!--						<br/>-->
						<span class="text-accent text-bold">Flappers Comedy Club</span>
					</td>
					<td class="align-middle">
						<button class="btn btn-primary" disabled="disabled">Tickets</button>
					</td>
				</tr>

				<tr>
					<td class="text-accent text-uppercase text-bold align-middle">Jun 22<br/>2018</td>
					<td class="text-primary text-barry align-middle">Los Angeles, CA</td>
					<td class="align-middle">
<!--						<span class="text-primary font-weight-bold">Speakeasy Weekend Showcase</span>-->
<!--						<br/>-->
						<span class="text-accent text-bold">Flappers Comedy Club</span>
					</td>
					<td class="align-middle">
						<button class="btn btn-primary" disabled="disabled">Tickets</button>
					</td>
				</tr>

				<tr>
					<td class="text-accent text-uppercase text-bold align-middle">May 4<br/>2018</td>
					<td class="text-primary text-barry align-middle">Los Angeles, CA</td>
					<td class="align-middle">
<!--						<span class="text-primary font-weight-bold">May the Fourth be Funny</span>-->
<!--						<br/>-->
						<span class="text-accent text-bold">Flappers Comedy Club</span>
					</td>
					<td class="align-middle">
						<button class="btn btn-primary" disabled="disabled">Tickets</button>
					</td>
				</tr>

				<tr>
					<td class="text-accent text-uppercase text-bold align-middle">Apr 22<br/>2017</td>
					<td class="text-primary text-barry align-middle">San Francisco, CA</td>
					<td class="align-middle">
<!--						<span class="text-primary font-weight-bold">ClusterFunk</span>-->
<!--						<br/>-->
						<span class="text-accent text-bold">Music City Rehearsal</span>
					</td>
					<td class="align-middle">
						<button class="btn btn-primary" disabled="disabled">Tickets</button>
					</td>
				</tr>

			</table>

		</div>

		<!--image-->
		<div class="col-md-6 col-12 order-md-1 order-0 px-0">

			<a href="/img/stand-up/david-john-seltzer-flappers.jpg"
			   class="progressive replace"
			   target="_blank" >

				<img src="/img/stand-up/stand-up-preview.jpg"
				     class="preview" />
			</a>
		</div>

	</div>
</section>