<section class="page-section" id="stand-up">
	<div class="container">
		<h2 class="text-center mt-0">stand-up</h2>
		<hr class="divider my-4">

		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-md-12 text-center">
				<p class="mb-0">Stand-up comedy show schedule</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-12 text-center">
				<div class="mt-5">
					<table class="table">
						<tr>
							<th>date</th>
							<th>show / venue</th>
							<th>city</th>
						</tr>
						<tr>
							<td class="text-muted">1/16/2019</td>
							<td>
								<span class="text-primary font-weight-bold">Uncle Clyde's Comedy Contest</span>
								<br/>
								<span>Flappers Comedy Club</span>
							</td>
							<td class="text-muted">Los Angeles, CA</td>
						</tr>
						<tr>
							<td class="text-muted">12/9/2018</td>
							<td>
								<span class="text-primary font-weight-bold">Swingin' Sundays</span>
								<br/>
								<span>Flappers Comedy Club</span>
							</td>
							<td class="text-muted">Los Angeles, CA</td>
						</tr>
						<tr>
							<td class="text-muted">6/22/2018</td>
							<td>
								<span class="text-primary font-weight-bold">Speakeasy Weekend Showcase</span>
								<br/>
								<span>Flappers Comedy Club</span>
							</td>
							<td class="text-muted">Los Angeles, CA</td>
						</tr>
						<tr>
							<td class="text-muted">5/4/2018</td>
							<td>
								<span class="text-primary font-weight-bold">May the Fourth be Funny</span>
								<br/>
								<span>Flappers Comedy Club</span>
							</td>
							<td class="text-muted">Los Angeles, CA</td>
						</tr>
						<tr>
							<td class="text-muted">4/22/2017</td>
							<td>
								<span class="text-primary font-weight-bold">ClusterFunk</span>
								<br/>
								<span>Music City Rehearsal</span>
							</td>
							<td class="text-muted">San Francisco, CA</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>