<section class="web-series__section" id="web-series">

	<div class="row w-100 mx-0">

		<!--banner-->
		<div class="col-md-6 col-12 px-0">

			<a href="/img/kings-are-wild/kings-are-wild-banner.jpg"
			   class="progressive replace"
				target="_blank" >

				<img src="/img/kings-are-wild/kings-are-wild-banner-preview.jpg"
				     class="preview" />
			</a>
		</div>

		<!--info-->
		<div class="col-md-6 col-12 py-5 mt-2">

			<h2 class="text-center my-0">Kings Are Wild</h2>
			<h3 class="text-center mt-0">(web series)</h3>
			<hr class="divider my-4">

			<div class="container text-center mb-5 pb-5">
				<p class="container">
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p class="container">
					For full details, see <a href="https://www.imdb.com/title/tt11136042/" target="_blank">imdb</a>.
				</p>
			</div>

			<!--link to youtube-->
			<a href="https://www.youtube.com/channel/UCAMIFa_7h77oCULA2ZX80VA" target="_blank">
				<div class="col text-center py-5">

					<!--watch on-->
					<div class="web-series__watch-on pb-2">watch on</div>

					<!--youtube logo-->
					<img class="web-series__youtube-icon" src="/img/youtube/yt_logo_rgb_light.png">
				</div>
			</a>

		</div>
	</div>
</section>