<div class="d-flex flex-row justify-content-center">

	<!--video url-->
	{% assign url = "" %}

	{% if include.video.youtube-url %}
		{% assign url = include.video.youtube-url %}

	{% elsif include.video.facebook-watch-url %}
		{% assign url = include.video.facebook-watch-url %}

	{% endif %}

	<a href="{{ url }}" target="_blank"
	   class="dummy-embed h-16x9 bg-theme-white lazy-style w-75 w-md-50 d-flex flex-column justify-content-center text-center"
	   data-style="background-image: url('{{ include.video.thumbnail }}');">

		<!--dummy play button-->
		<div>
			<!--youtube-->
			{% if include.video.youtube-url %}
				<span class="fa-stack fa-2x">
					<i class="fas fa-square fa-stack-1x"></i>
					<i class="fab fa-youtube fa-stack-2x"></i>
	         </span>

			<!--facebook watch-->
			{% elsif include.video.facebook-watch-url %}
				<span class="fa-stack fa-2x">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fas fa-play-circle fa-stack-2x"></i>
	         </span>

			{% endif %}
		</div>
	</a>

</div>