{% if video.youtube-id or video.facebook-watch-url %}
	<div class="d-flex flex-row justify-content-center my-4">

		<!--youtube-->
		{% if video.youtube-id %}
			<a class="text-theme-gold"
			   href="https://www.youtube.com/watch?v={{ video.youtube-id }}"
			   target="_blank">

				<span>Watch on YouTube</span>
			</a>

		<!--facebook watch-->
		{% elsif video.facebook-watch-url %}
			<a class="text-theme-gold"
			   href="{{ video.facebook-watch-url }}"
			   target="_blank">

				<span>Stream on Facebook Watch</span>
			</a>
		{% endif %}
	</div>
{% endif %}