{% if include.links.youtube or include.links.facebook_watch %}
	<div class="h5 small text-muted">Stream on:</div>
{% elsif include.links.itunes or include.links.google_play or include.links.stitcher %}
	<div class="h5 small text-muted">Listen on:</div>
{% endif %}

<div class="d-flex flex-row">

	<!--youtube-->
	{% if include.links.youtube %}

		{% include common/media/media-link-logo-item.html
			url=include.links.youtube
			img="/img/brands/yt_logo_rgb_light.png" %}
	{% endif %}

	<!--facebook watch-->
	{% if include.links.facebook_watch %}

		{% include common/media/media-link-logo-item.html
			url=include.links.facebook_watch
			img="/img/brands/facebook-watch.png" %}
	{% endif %}

	<!--itunes-->
	{% if include.links.itunes %}

		{% include common/media/media-link-item.html
			label="iTunes"
			url=include.links.itunes
			color="text-itunes-purple"
			icon="fas fa-podcast" %}
	{% endif %}

	<!--google play-->
	{% if include.links.google_play %}

		{% include common/media/media-link-item.html
			label="Google Play"
			url=include.links.google_play
			color="text-google-play-orange"
			icon="fab fa-google-play" %}
	{% endif %}

	<!--stitcher-->
	{% if include.links.stitcher %}

		{% include common/media/media-link-item.html
			label="Stitcher"
			url=include.links.stitcher
			color="text-stitcher-blue"
			icon="fas fa-broadcast-tower" %}
	{% endif %}
</div>