<div class="pt-4 px-3 px-md-5">

	<!--title-->
	<div class="row">

		<div class="col-12 col-md-6 offset-md-6">
			<h2 class="text-theme-red text-center mt-0">Kings Are Wild</h2>
		</div>
	</div>

	<div class="row">

		<!--movie poster-->
		<div class="col-8 offset-2 col-md-4 offset-md-1 text-center">
			<img class="img-fluid" src="/img/kings-are-wild/kings-are-wild-movie-poster.webp" />

			<!--imdb-->
			<div class="mt-4">
				<a href="{{ site.data.videos.kingsarewild.imdb }}"
				   target="_blank"
				   class="text-imdb-black">

					<i class="fab fa-imdb fa-3x"></i>
				</a>
			</div>

		</div>

		<!--description-->
		<div class="col-12 col-md-6 offset-md-1">

			<div class="container mt-3">
				<p>
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p>
					Two dudes set their sights high when they decide to start a podcast. But they soon find out that they don't have the discipline or work ethic to follow through.
				</p>
				<p>
					<strong>Starring:</strong> David John Seltzer, David Shea Henne, Chelsea Jordan, Michelle Agresti, Tess Llanos, Kaylie Gipson, Donald Lee Gipson
				</p>
			</div>

			<!--link to youtube-->
			{% include acting/watch-on-youtube.html url=site.data.videos.kingsarewild.url %}

		</div>
	</div>

</div>