<section class="page-section pt-4">
	<div class="container">

		<!--title-->
		<div class="row">

			<div class="col-12 col-md-6 offset-md-6">
				<h2 class="text-center mt-0">Kings Are Wild</h2>
			</div>
		</div>

		<div class="row">

			<!--movie poster-->
			<div class="col-8 offset-2 col-md-4 offset-md-1">
				<img class="img-fluid" src="/img/kings-are-wild/kings-are-wild-movie-poster.webp" />
			</div>

			<!--description-->
			<div class="col-12 col-md-6 offset-md-1">

				<p class="container mt-3">
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p class="container">
					For full details, see <a href="https://www.imdb.com/title/tt11136042/" target="_blank">imdb</a>.
				</p>

				<!--link to youtube-->
				<a href="https://www.youtube.com/channel/UCAMIFa_7h77oCULA2ZX80VA" target="_blank">
					<div class="col text-center py-5">

						<!--watch on-->
						<div class="web-series__watch-on pb-2">watch on</div>

						<!--youtube logo-->
						<img class="acting__youtube-icon" src="/img/youtube/yt_logo_rgb_light.png">
					</div>
				</a>

			</div>
		</div>

	</div>
</section>