<section class="page-section pt-4">
	<div class="container">

		<!--title-->
		<div class="row">

			<div class="col-12 col-md-6 offset-md-6">
				<h2 class="text-theme-red text-center mt-0">Kings Are Wild</h2>
			</div>
		</div>

		<div class="row">

			<!--movie poster-->
			<div class="col-8 offset-2 col-md-4 offset-md-1">
				<img class="img-fluid" src="/img/kings-are-wild/kings-are-wild-movie-poster.webp" />
			</div>

			<!--description-->
			<div class="col-12 col-md-6 offset-md-1">

				<p class="container mt-3 font-spartan">
					SPARTAN
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p class="container font-spartan">
					For full details, see <a href="{{ site.data.videos.kingsarewild.imdb }}" target="_blank">imdb</a>.
				</p>

				<p class="container mt-3 font-cabin">
					CABIN
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p class="container font-cabin">
					For full details, see <a href="{{ site.data.videos.kingsarewild.imdb }}" target="_blank">imdb</a>.
				</p>

				<p class="container mt-3 font-source-sans-pro">
					SOURCE SANS PRO
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p class="container font-cabin">
					For full details, see <a href="{{ site.data.videos.kingsarewild.imdb }}" target="_blank">imdb</a>.
				</p>

				<p class="container mt-3 font-roboto">
					ROBOTO
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p class="container font-roboto">
					For full details, see <a href="{{ site.data.videos.kingsarewild.imdb }}" target="_blank">imdb</a>.
				</p>

				<p class="container mt-3 font-helvetica">
					HELVETICA
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p class="container font-helvetica">
					For full details, see <a href="{{ site.data.videos.kingsarewild.imdb }}" target="_blank">imdb</a>.
				</p>

				<p class="container mt-3 font-comfortaa">
					COMFORTAA
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p class="container font-comfortaa">
					For full details, see <a href="{{ site.data.videos.kingsarewild.imdb }}" target="_blank">imdb</a>.
				</p>

				<p class="container mt-3">
					MORISTON
					Comedy web series created by David John Seltzer and David Shea Henne.
				</p>
				<p class="container">
					For full details, see <a href="{{ site.data.videos.kingsarewild.imdb }}" target="_blank">imdb</a>.
				</p>

				<!--link to youtube-->
				<a href="{{ site.data.videos.kingsarewild.url }}" target="_blank">
					<div class="col text-center py-5">

						<!--watch on-->
						<div class="acting__youtube-icon__label text-theme-black pb-2">watch on</div>

						<!--youtube logo-->
						<img class="acting__youtube-icon" src="/img/youtube/yt_logo_rgb_light.png">
					</div>
				</a>

			</div>
		</div>

	</div>
</section>