<div class="pt-5">

	<!--title-->
	<div class="row">

		<div class="col-12 col-md-6">
			<h2 class="text-theme-red text-center my-0">No More 54 by Dada Life</h2>
			<h2 class="small text-theme-red text-center mt-0">(Official Music Video)</h2>
		</div>
	</div>

	<div class="row">

		<!--description-->
		<div class="col-12 col-md-6 pl-5">

			<p class="container mt-3">
				Seltzer is the dancing disco ball in Dada Life's No More 54 music video.
			</p>

			<!--link to youtube-->
			{% include acting/watch-on-youtube.html url=site.data.videos.nomore54.url %}
		</div>

		<!--photo-->
		<div class="col-8 offset-2 col-md-6 offset-md-0 pr-5">
			<img class="img-fluid" src="/img/music-video/no-more-54-album.jpg" />
		</div>

	</div>
</div>