// load fonts
@font-face {
  font-family: 'SignPainter-HouseSlant-Regular';
  src: url('/font/SignPainter-HouseSlant-Regular.ttf');
}

@font-face {
  font-family: 'Boomville';
  src: url('/font/Boomville.otf');
}

@font-face {
  font-family: 'Moriston Personal';
  src: url('/font/MoristonPersonal-Bold.otf');
}

@font-face {
  font-family: 'Moriston Personal';
  src: url('/font/MoristonPersonal-Medium.otf');
}

$font-family-boomville: "Boomville", "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji';
$font-family-moriston: "Moriston Personal", "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-family-sign-painter: "SignPainter-HouseSlant-Regular", "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

.font-boomville {
  font-family: $font-family-boomville;
}

.font-moriston {
  font-family: $font-family-moriston;
}

.font-moriston-bold {
  font-family: $font-family-moriston;
  font-weight: bold;
}

.font-sign-painter {
  font-family: $font-family-sign-painter;
}

// body
body,
html {
  font-family: $font-family-moriston;
}

// heading
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $font-family-sign-painter;
}

// button
.btn {
  font-family: $font-family-sign-painter;
}

// navbar
.navbar-brand {
  font-family: $font-family-sign-painter;
}

.navbar-nav {
  .nav-item {
    .nav-link {
      font-family: $font-family-sign-painter;
    }
  }
}