{% if page.primary-color != blank and page.primary-color != nil %}
	{%- assign primary_color_exists = true %}
{% endif %}

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
	<div class="my-auto">

		<!--name-->
		{% if page.profile-name != blank %}

			{% if page.profile-name.middle != blank and page.profile-name.middle != nil %}
				{%- assign middle_name_exists = true %}
				{%- assign middle_name_not_exists = false %}
			{% else %}
				{%- assign middle_name_exists = false %}
				{%- assign middle_name_not_exists = true %}
			{% endif %}

			<h1 class="mb-0">

				<!--first-->
				<span>{{ page.profile-name.first }}</span>

				<!--middle-->
				{% if middle_name_exists %}
					<span
					 {% if primary_color_exists %}
						 style="color: {{ page.primary-color }};"
					 {% endif %}
					>
						{{ page.profile-name.middle }}
					</span>
				{% endif %}

				<!--last-->
				<span
				 {% if middle_name_not_exists and primary_color_exists %}
				   style="color: {{ page.primary-color }};"
				 {% endif %}
				>{{ page.profile-name.last }}</span>

			</h1>
		{% endif %}

		<!--contact info-->
		<div class="subheading mb-5">

			{% for contact_item in page.profile-contact %}

				<span>{{ contact_item }}</span>

				{% unless forloop.last %}<span>·</span>{% endunless %}

			{% endfor %}
		</div>

		<!--description-->
		<div class="mt-5">
			{{ content }}
		</div>

		<!--social media-->
		{% include social-media.html %}

	</div>
</section>
