<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="acting">
	<div class="my-auto">
		<h2 class="mb-5">Acting</h2>

		<div class="resume-item d-flex flex-column flex-md-row mb-5">
			<div class="resume-content mr-auto">

				<!--type-->
				<h3 class="mb-0">Web Series</h3>

				<!--credits-->
				<table class="table">
					<tr>
						<td>Subletters (2017)</td>
						<td>David (Guest Star)</td>
						<td>Dir: Alex Jacobs & D'arby Rose</td>
					</tr>
				</table>
			</div>
		</div>

		<!--todo remove and replace with siteleaf content-->

		<div class="resume-item d-flex flex-column flex-md-row mb-5">
			<div class="resume-content mr-auto">

				<!--type-->
				<h3 class="mb-0">Student Films</h3>

				<!--credits-->
				<table class="table">
					<tr>
						<td>Changing (2017)</td>
						<td>Chris (Lead)</td>
						<td>Dir: Quintin Walker</td>
						<td>Academy of Arts University</td>
					</tr>
				</table>
			</div>
		</div>

	</div>

</section>
