<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="acting">
	<div class="my-auto">
		<h2 class="mb-5">Acting</h2>

		{% for actingPage in site.acting %}
			{% for section in actingPage.sections %}

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">

						<!--type-->
						<h3 class="mb-0">{{section.title}}</h3>

						<!--credits-->
						<table class="table">

							{% for credit in section.credits %}

								<tr>
									<!--title-->
									<td>
										{% if credit.imdb-link %}
											<a href="{{ credit.imdb-link }}" target="_blank">{{credit.title}}</a>
										{% else %}
											<span>{{credit.title}}</span>
										{% endif %}
									</td>

									<!--role & character-->
									<td>{{credit.role}}
										{% if credit.character %}
											<span> / {{credit.character}}</span>
										{% endif %}
									</td>

									<!--director-->
									<td>Dir: {{credit.director}}</td>

								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			{% endfor %}
		{% endfor %}

	</div>

</section>
