<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="acting">
	<div class="my-auto">
		<h2 class="mb-5">Acting</h2>

		{% for section in site.acting %}

			<div class="resume-item d-flex flex-column flex-md-row mb-5">
				<div class="resume-content mr-auto">

					<!--type-->
					<h3 class="mb-0">{{section.title}}</h3>

					<!--credits-->
					<table class="table">

						{% for credit in section.credits %}

							<tr>
								<td>{{credit.title}}</td>
								<td>{{credit.role}}</td>
								<td>Dir: {{credit.director}}</td>

								{% if credit.production %}
									<td>{{credit.production}}</td>
								{% endif %}
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		{% endfor %}

	</div>

</section>
