<p class="container mt-3 font-spartan">
	SPARTAN
	Comedy web series created by David John Seltzer and David Shea Henne.
</p>

<p class="container mt-3 font-cabin">
	CABIN
	Comedy web series created by David John Seltzer and David Shea Henne.
</p>

<p class="container mt-3 font-source-sans-pro">
	SOURCE SANS PRO
	Comedy web series created by David John Seltzer and David Shea Henne.
</p>

<p class="container mt-3 font-roboto">
	ROBOTO
	Comedy web series created by David John Seltzer and David Shea Henne.
</p>

<p class="container mt-3 font-helvetica">
	HELVETICA
	Comedy web series created by David John Seltzer and David Shea Henne.
</p>

<p class="container mt-3 font-comfortaa">
	COMFORTAA
	Comedy web series created by David John Seltzer and David Shea Henne.
</p>

<p class="container mt-3">
	MORISTON
	Comedy web series created by David John Seltzer and David Shea Henne.
</p>