<head>

	{% include util/profile-fullname.html %}
	{% include util/profile-firstmiddlename.html %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="{{ profile_fullname }}">

	<!--title-->
	<title>{{ profile_fullname }}</title>
	<meta property="og:title" content="{{ profile_fullname }}" />

	<!--description-->
	<meta name="description" content="{{ content | escape }}">
	<meta property="og:description" content="{{ content | escape }}" />

	<!--open graph image-->
	<meta property="og:url" content="{{ '/' | absolute_url }}" />

	{% if page.site-preview %}

		{% if page.site-preview.photo %}
			<meta property="og:image" content="{{ page.site-preview.photo | absolute_url }}" />
		{% endif %}

		{% if page.site-preview.photo-height %}
			<meta property="og:image" content="{{ page.site-preview.photo-height }}" />
		{% endif %}

		{% if page.site-preview.photo-width %}
			<meta property="og:image" content="{{ page.site-preview.photo-width }}" />
		{% endif %}
	{% endif %}

	<!--profile-->
	<meta property="og:type" content="profile" />
	<meta property="profile:first_name" content="{{ profile_firstmiddlename }}" />
	<meta property="profile:last_name" content="{{ page.profile-name.last }}" />

	{% include head-css.html %}

</head>