<head>

	{% include util/profile-fullname.html %}
	{% include util/profile-firstmiddlename.html %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="">

	<!--title-->
	<title>{{ profile_fullname }}</title>
	<meta property="og:title" content="{{ profile_fullname }}" />

	<!--description-->
	<meta name="description" content="Actor, Improvisor, and Comedian">
	<meta property="og:description" content="Actor, Improvisor, and Comedian" />

	<!--open graph image-->
	<meta property="og:url" content="{{ site.deployed-url }}" />
	<meta property="og:image" content="https://davidseltzer.com/img/og/og-preview.jpg" />
	<meta property="og:image:height" content="538" />
	<meta property="og:image:width" content="1024" />

	<!--profile-->
	<meta property="og:type" content="profile" />
	<meta property="profile:first_name" content="{{ profile_firstmiddlename }}" />
	<meta property="profile:last_name" content="{{ page.profile-name.last }}" />

	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
	<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<!--<link href="css/resume.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

</head>