<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="improv-teams">
	<div class="my-auto">
		<h2 class="mb-5">Improv Teams</h2>

		{% for team in page.improv-teams %}

			<div class="resume-item d-flex flex-column flex-md-row mb-5">
				<div class="resume-content mr-auto">

					<!--team name-->
					<h3 class="mb-0">{{team.name}}</h3>

					<!--description-->
					<div class="subheading mb-3">{{team.type}}</div>

					<!--dates-->
					<div>{{team.dates}}</div>

					<!--<p></p>-->
				</div>
				<div class="resume-date text-md-right">

					<!--city-->
					<span class="text-primary">{{team.city}}</span>
				</div>
			</div>
		{% endfor %}

	</div>
</section>
