<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="improv-teams">
	<div class="my-auto">
		<h2 class="mb-5">Improv Teams</h2>

		<div class="resume-item d-flex flex-column flex-md-row mb-5">
			<div class="resume-content mr-auto">

				<!--team name-->
				<h3 class="mb-0">Dave & Rhonda</h3>

				<!--description-->
				<div class="subheading mb-3">Indie Duo</div>

				<!--<div></div>-->

				<!--<p></p>-->
			</div>
			<div class="resume-date text-md-right">

				<!--dates-->
				<span class="text-primary">April 2017 - September 2017</span>
			</div>
		</div>

		<!--todo iterate from siteleaf-->

		<div class="resume-item d-flex flex-column flex-md-row mb-5">
			<div class="resume-content mr-auto">

				<!--team name-->
				<h3 class="mb-0">Rapscallion</h3>

				<!--description-->
				<div class="subheading mb-3">Indie Team</div>

				<!--<div></div>-->

				<!--<p></p>-->
			</div>
			<div class="resume-date text-md-right">

				<!--dates-->
				<span class="text-primary">September 2016 - September 2017</span>
			</div>
		</div>

		<div class="resume-item d-flex flex-column flex-md-row mb-5">
			<div class="resume-content mr-auto">

				<!--team name-->
				<h3 class="mb-0">Vision Quest</h3>

				<!--description-->
				<div class="subheading mb-3">Endgames House Team</div>

				<!--<div></div>-->

				<!--<p></p>-->
			</div>
			<div class="resume-date text-md-right">

				<!--dates-->
				<span class="text-primary">April 2017 - June 2017</span>
			</div>
		</div>

		<div class="resume-item d-flex flex-column flex-md-row mb-5">
			<div class="resume-content mr-auto">

				<!--team name-->
				<h3 class="mb-0">The Professionals</h3>

				<!--description-->
				<div class="subheading mb-3">Leela House Team</div>

				<!--<div></div>-->

				<!--<p></p>-->
			</div>
			<div class="resume-date text-md-right">

				<!--dates-->
				<span class="text-primary">September 2016 - April 2017</span>
			</div>
		</div>

	</div>
</section>
