<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js" defer="defer"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js" defer="defer"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js" defer="defer"></script>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js" defer="defer"></script>

<!--lazy load images-->
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js" defer="defer"></script>
<script src="/js/lazyload-init.js" defer="defer"></script>