<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js" defer="defer"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js" defer="defer"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js" defer="defer"></script>

<!-- Custom scripts for this template -->
<script src="/js/creative.js" defer="defer"></script>

<!-- progressive image -->
<script src="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.js" defer="defer"></script>