<header class="masthead">
	<div class="container h-100">
		<div class="row h-100 align-items-center">

			<!--name-->
			<div class="col d-flex flex-column justify-content-center">
				<h1 class="text-barry text-white w-100 ml-4">David</h1>
				<h1 class="text-barry text-white w-100 ml-4">John</h1>
				<h1 class="text-barry text-primary-light w-100 ml-4">Seltzer</h1>
			</div>

			<!--description-->
			<div class="col d-flex flex-column justify-content-center text-right">
				<h2 class="text-barry-lower text-white-alt w-100 mr-4">actor.</h2>
				<h2 class="text-barry-lower text-white-alt w-100 mr-4">comedian.</h2>
				<h2 class="text-barry-lower text-white-alt w-100 mr-4">cool guy.</h2>
			</div>

		</div>
	</div>
</header>