<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="training">
	<div class="my-auto">
		<h2 class="mb-5">Training</h2>

		{% for trainingPage in site.training %}
			{% for school in trainingPage.schools %}

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">

						<!--institution-->
						<h3 class="mb-0">{{school.name}}</h3>

						<!--classes-->
						<div class="subheading mb-3">{{school.type}}</div>

						<!--teachers-->
						<div>{{school.teachers | join:', '}}</div>

						<!--<p></p>-->
					</div>
					<div class="resume-date text-md-right">

						<!--city-->
						<span class="text-primary">{{school.city}}</span>
					</div>
				</div>
			{% endfor %}
		{% endfor %}

	</div>
</section>
