// Styling for the masthead
header.masthead {

  // background image
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;

  // 1200
  background-image: url("/img/masthead/david-john-seltzer-kings-are-wild-still-masthead-1200.png");

  // 1800
  @media (min-height: 1200px) {
    background-image: url("/img/masthead/david-john-seltzer-kings-are-wild-still-masthead-1800.png");
  }

  // original size
  @media (min-height: 1800px) {
    background-image: url("/img/masthead/david-john-seltzer-kings-are-wild-still-masthead.png");
  }

  // size
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});

  h1 {
    font-size: 3rem;
  }

  @include media-breakpoint-up(md) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 6rem;
    }
  }
}
