.navbar {

  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-nav {
    .nav-item {

      .nav-link {
        font-size: 1.5rem;
        padding: 0.75rem 0;
      }
    }
  }

  /* lg => 992px */
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {

        .nav-link {
          padding: 0 1rem;
        }

        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
  }
}