// Variables

// color palette
$eerie-black:       #1C1F26;
$isabelline:        #F2F1E9;
$metallic-sunburst: #A68953;
$kobe:              #8C2D18;
$cinnabar:          #D95043;

// Color overrides
$primary: $metallic-sunburst !default;
$secondary: $cinnabar !default;

// Load fonts
@font-face {
  font-family: 'SignPainter-HouseSlant-Regular';
  src: url('/font/SignPainter-HouseSlant-Regular.ttf');
}

@font-face {
  font-family: 'Boomville';
  src: url('/font/Boomville.otf');
}

@font-face {
  font-family: 'Moriston Personal';
  src: url('/font/MoristonPersonal-Bold.otf');
}

@font-face {
  font-family: 'Moriston Personal';
  src: url('/font/MoristonPersonal-Medium.otf');
}

$font-family-boomville: "Boomville", "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji';
$font-family-moriston: "Moriston Personal", "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-family-sign-painter: "SignPainter-HouseSlant-Regular", "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

// set fonts
$font-family-sans-serif: $font-family-sign-painter !default;
$font-family-base: $font-family-moriston !default;
$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 78px;
