// Variables

// unsplash palm trees image palette
$palm-trees-teal-light: #128397 !default;
$palm-trees-teal-dark: #074a5c !default;
$palm-trees-pink: #da808f !default;
$palm-trees-black: #021d1f !default;

// miami heat (vice) palette
$heat-vice-blue: #38B5E6 !default;
$heat-vice-pink: #E13CB0 !default;
$heat-vice-black: #000000 !default;

// jacksonville jaguars palette
$jaguar-black: #101820 !default;
$jaguar-dark-gold: #A17925 !default;
$jaguar-gold: #D9A318 !default;
$jaguar-teal: #006073 !default;

// Color overrides
$primary: $jaguar-teal !default;
$secondary: black !default;
$accent: lightgray !default;
$white-alt: lightgray !default;

// Font overrides
$font-family-sans-serif: "futura-pt-condensed", "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

$headings-youtube-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Helvetica", Arial, sans-serif !default;

// Custom variables
$navbar-height: 78px;
