.reel-iframe {
  width: 290px;
  height: 163px;
}

@media (min-width: 500px) {
  .reel-iframe {
    width: 470px;
    height: 264px;
  }
}

/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min)*/
@media (min-width: 768px) {
  .reel-iframe {
    width: 738px;
    height: 415px;
  }
}