<meta property="og:site_name" content="D.J. Seltzer" />
<meta property="og:title" content="{{ include.data.page-title }}" />
<meta property="og:description" content="{{ include.data.description }}" />
<meta property="og:url" content="{{ site.url }}{{ page.permalink }}" />

<!--defaults-->
{% assign open-graph = site.data.seo.seo-defaults.open-graph %}

<!--page specific open graph-->
{% if include.data.open-graph %}
	{% assign open-graph = include.data.open-graph %}
{% endif %}

<meta property="og:type" content="{{ open-graph.type }}" />

<!--image-->
{% if open-graph.image %}
	{% include common/head/open-graph/open-graph-image.html
			image=open-graph.image
	%}
{% endif %}

<!--profile-->
{% if open-graph.profile %}
	{% include common/head/open-graph/open-graph-profile.html
			prefix="profile"
			profile=open-graph.profile
	%}
{% endif %}

<!--video-->
{% if open-graph.video %}
	{% include common/head/open-graph/open-graph-video.html
			video=open-graph.video
	%}
{% endif %}