<!--duration-->
{% if include.video.duration %}
	<meta property="og:video:duration" content="{{ include.video.duration }}" />
{% endif %}

<!--release date-->
{% if include.video.release-date %}
	<meta property="og:video:release_date" content="{{ include.video.release-date }}" />
{% endif %}

<!--writers-->
{% if include.video.writers %}
	{% for writer in include.video.writers %}

		{% include common/head/open-graph/open-graph-profile.html
				prefix="og:video:writer"
				profile=writer
		%}
	{% endfor %}
{% endif %}

<!--actors-->
{% if include.video.actors %}
	{% for actor in include.video.actors %}

		{% include common/head/open-graph/open-graph-profile.html
				prefix="og:video:actor"
				profile=actor
		%}
	{% endfor %}
{% endif %}