<body>

	<!-- navigation -->
	{% include common/amp-navbar.html %}

	<!--title-->
	<section class="first">
		<div class="container">

			<h1 class="text-center">Page not found</h1>
			<hr class="divider divider-theme-gold my-4">

			<div class="mx-3 mt-5">
				<p>The requested page could not be found.</p>

				<a href="/" class="text-theme-dark-red">Go home</a>
			</div>

		</div>
	</section>

	<!--extend page-->
	<section class="extend-page"></section>

	{% include common/footer/footer.html %}
	{% include common/javascript.html %}

</body>