<body>
	<!-- navigation -->
	{% include common/navbar.html %}

	<section class="bg-name-banner">
		<div class="bg-theme-white container page-section">

			<!--title and description-->
			{% include common/title/title-h1.html h1=site.data.pages.acting.h1 %}
			<p class="text-center">{{ site.data.pages.acting.description }}</p>
			<p class="small text-center">For a full list of credits, go to <a href="https://www.imdb.com/name/nm9420509/" target="_blank" class="text-theme-dark-red"><strong>imdb</strong></a>.</p>

			<!--acting credits-->
			{% for credit in site.data.pages.acting.credits %}

				{% include acting/acting-item.html credit=credit %}

				{% if forloop.last != true %}
					<div class="my-5">
						<hr class="divider divider-theme-gold"/>
					</div>
				{% endif %}

			{% endfor %}

		</div>
	</section>

	<!--acting reel-->
	{% include acting/reel.html %}

	<!-- footer -->
	{% include common/footer/footer.html %}
	{% include common/javascript.html %}
</body>