{% assign data = site.data.pages[page.data-page] %}

<section class="page-section">
	<div class="container">

		<!--title-->
		<h1 class="text-center mb-0">{{ data.film-title }}</h1>

		<!--episode-->
		{% if data.episode %}
			<div class="h3 text-muted text-center">{{ data.episode }}</div>
		{% endif %}

		<!--category-->
		<div class="h3 text-theme-dark-red text-center">{{ data.category }}</div>

		<div class="row mt-5">

			<!--movie poster-->
			<div class="col-12 col-md-4">
				<img class="img-fluid" src="{{ data.poster }}" />
			</div>

			<div class="col-12 col-md-8 pl-md-4">

				<!--still-->
				<img class="img-fluid" src="{{ data.still }}" />

				<!--description-->
				<p class="pt-3">{{ data.description }}</p>

				<!--link-->
				{% if data.youtube %}
					{% include common/media/video-links/youtube-media-link.html url=data.youtube %}
				{% endif %}

				{% if data.facebook-watch %}
					{% include common/media/video-links/facebook-watch-media-link.html url=data.facebook-watch %}
				{% endif %}
			</div>
		</div>
	</div>
</section>

<!--videos-->
{% include film/film-videos.html %}

<!--credits-->
{% include film/film-credits.html %}