{% assign data = site.data.pages[page.data-page] %}

<section class="bg-name-banner">
	<div class="bg-theme-white container page-section">
		<div class="mx-5">

			<div class="row">

				<!--movie poster-->
				<div class="col-12 col-md-3 mt-md-1">
					<img class="img-fluid" src="{{ data.poster }}" />
				</div>

				<div class="col-12 col-md-8 pl-md-4">
					<!--title-->
					<h1 class="mb-0">{{ data.h1 }}</h1>
					<div class="h3 text-theme-dark-red">{{ data.category }}</div>

					<!--description-->
					<p class="text-center">{{ data.description }}</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--videos-->
{% for video in data.videos %}
	{% include common/media/youtube-embed.html video=video %}
{% endfor %}

<!--credits-->
{% include film/film-credits.html %}