{% assign data = site.data.pages[page.data-page] %}

<section class="page-section pb-0">
	<div class="container">

		<!--title-->
		<h1 class="text-center mt-0">{{ data.h1 }}</h1>
		<hr class="divider divider-theme-gold mb-4">

		<!--description-->
		<p class="text-center">{{ data.description }}</p>

		{% if data.sub-description %}
			<p class="small text-center">{{ data.sub-description }}</p>
		{% endif %}
	</div>
</section>

<!--films-->
{% include film-directory/film-directory-items.html films=data.films %}

<!--videos-->
{% include film/film-videos.html videos=data.videos %}