{% assign data = site.data.pages[page.data-page] %}

<section class="first has-breadcrumb">
	<div class="container">

		<!--breadcrumb-->
		{% include film/film-breadcrumbs.html breadcrumbs=data.breadcrumbs %}

		<!--title and category-->
		{% include common/title/page-title-and-category.html page=data %}

		<div class="row">

			<!--movie poster-->
			<div class="col-12 col-md-4 mb-4 mb-md-0">
				{% include common/img/picture.html picture=data.poster %}
			</div>

			<div class="col-12 col-md-8 pl-md-4">

				<!--still-->
				{% include common/img/picture.html picture=data.still %}

				<!--description-->
				<p class="pt-3">{{ data.description }}</p>

				<!--link-->
				{% if data.youtube %}
					{% include common/media/video-links/youtube-media-link.html url=data.youtube %}
				{% endif %}

				{% if data.facebook-watch %}
					{% include common/media/video-links/facebook-watch-media-link.html url=data.facebook-watch %}
				{% endif %}
			</div>
		</div>
	</div>
</section>

<!--videos-->
{% if data.videos %}
	<section class="bg-theme-black">
		{% include film/film-videos.html videos=data.videos %}
	</section>
{% endif %}

<!--credits-->
<section>
	<div class="container">
		{% include film/film-credits.html credits=data.credits imdb=data.imdb %}
	</div>
</section>