<section class="bg-name-banner">
	<div class="bg-theme-white container page-section pb-5">

		<!--title-->
		{% include common/title/title-h1.html h1=site.data.pages.podcasts.h1 %}

		<!--description-->
		<p class="text-center">{{ site.data.pages.podcasts.description }}</p>

		<!--episodes-->
		<div class="mt-5">
			{% for podcast in site.data.pages.podcasts.episodes %}

				{% include podcasts/podcast-item.html podcast=podcast %}

				{% if forloop.last != true %}
					<div class="my-5">
						<hr class="divider divider-theme-gold"/>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	</div>

</section>