// color palette
$eerie-black:       #1C1F26;
$isabelline:        #F2F1E9;
$metallic-sunburst: #A68953;
$kobe:              #8C2D18;
$cinnabar:          #D95043;

// theme
$theme-black:       $eerie-black;
$theme-white:       $isabelline;
$theme-gold:        $metallic-sunburst;
$theme-dark-red:    $kobe;
$theme-red:         $cinnabar;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "theme-black":    $theme-black,
    "theme-white":    $theme-white,
    "theme-gold":     $theme-gold,
    "theme-dark-red": $theme-dark-red,
    "theme-red":      $theme-red,
    "primary":        $theme-red,
    "secondary":      $theme-gold
  ),
  $theme-colors
);

// copied from boostrap -> changed to theme black
$box-shadow:        0 .5rem 1rem rgba($theme-black, .15) !default;

// body
body,
html {
  color: $theme-black;
  background-color: $theme-white;
}

h1 {
  color: $theme-black;
}

h2 {
  color: $theme-red;
}

// anchor
a {
  color: $theme-dark-red;
  &:hover,
  &:focus,
  &:active {
    color: darken($theme-dark-red, 15%);
  }
}

// navbar
.navbar {
  box-shadow: $box-shadow;

  .navbar-brand {
    color: $theme-white;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $theme-white;

        &:hover,
        &:active {
          color: $theme-red;
        }

        &.active {
          color: $theme-red !important;
        }
      }
    }
  }
}

// text
.text-theme-black {
  color: $theme-black !important;
}

.text-theme-dark-red {
  color: $theme-dark-red !important;
}

.text-theme-gold {
  color: $theme-gold !important;
}

.text-theme-red {
  color: $theme-red !important;
}

.text-theme-white {
  color: $theme-white !important;
}

// backgound
.bg-theme-black {
  background-color: $theme-black !important;
}

.bg-theme-dark-red {
  background-color: $theme-dark-red !important;
}

.bg-theme-gold {
  background-color: $theme-gold !important;
}

.bg-theme-red {
  background-color: $theme-red !important;
}

.bg-theme-white {
  background-color: $theme-white !important;
}

// divider
hr.divider-theme-black {
  border-color: $theme-black;
}

hr.divider-theme-dark-red {
  border-color: $theme-dark-red;
}

hr.divider-theme-gold {
  border-color: $theme-gold;
}

hr.divider-theme-red {
  border-color: $theme-red;
}

hr.divider-theme-white {
  border-color: $theme-white;
}