// islanders
$viridian-green:                 #009CA6;
$international-orange-aerospace: #FE5000;
$royal-blue-dark:                #00205B;
$silver-metallic:                #A4A9AD;

// hornets
$hornets-teal: #00778B;
$hornets-purple: #280071;
$hornets-orange: #F9423A;

// grizzlies
$grizzly-teal: #00B2A9;
$grizzly-red  : #E43C40;
$grizzly-black: #040204;

// retro supply
$retro-supply-blue: #05a3c9;
$retro-supply-red: #e9482d;
$retro-supply-white: #FFFFFF;
$retro-supply-black: #000000;
$retro-supply-black-light: #404040;

// suti
$eerie-black:       #1C1F26;
$isabelline:        #F2F1E9;
$metallic-sunburst: #A68953;
$kobe:              #8C2D18;
$cinnabar:          #D95043;

// theme
$theme-green:       $viridian-green;
$theme-orange:      $international-orange-aerospace;
$theme-white:       #FFFFFF;
$theme-blue:        $royal-blue-dark;
$theme-silver:      $silver-metallic;
$theme-black:       #000000;


$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "theme-green":    $theme-green,
    "theme-orange":   $theme-orange,
    "theme-white":    $theme-white,
    "theme-blue":     $theme-blue,
    "theme-silver":   $theme-silver,
    "theme-black":    $theme-black
  ),
  $theme-colors
);