// color palette
$eerie-black:       #1C1F26;
$isabelline:        #F2F1E9;
$metallic-sunburst: #A68953;
$kobe:              #8C2D18;
$cinnabar:          #D95043;

// theme
$theme-black:       $eerie-black;
$theme-white:       $isabelline;
$theme-gold:        $metallic-sunburst;
$theme-dark-red:    $kobe;
$theme-red:         $cinnabar;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "theme-black":    $theme-black,
    "theme-white":    $theme-white,
    "theme-gold":     $theme-gold,
    "theme-dark-red": $theme-dark-red,
    "theme-red":      $theme-red
  ),
  $theme-colors
);