<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-theme-white fixed-top py-3">
	<div class="container">

		<!--brand-->
		<a class="amp-navbar-brand text-theme-green" href="/">D.J. Seltzer</a>

		<!--toggle sidebar button-->
		<button on="tap:sidebar.toggle"
		        class="navbar-toggler navbar-toggler-right"
		        type="button"
		        aria-expanded="false"
		        aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!--desktop navigation-->
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">

				{% for item in site.data.navbar %}

					<li class="nav-item">
						<a class="nav-link{% if page.url == item.url %} active{% endif %}"
						   href="{{ item.url }}">{{ item.label }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

	</div>
</nav>

<!--sidebar-->
<amp-sidebar id="sidebar" layout="nodisplay" side="right">
	<nav class="navbar navbar-expand-lg navbar-light bg-theme-white fixed-top py-3 h-100vh d-flex flex-column justify-content-start">
		<div class="container">

			<!--brand-->
			<div class="w-100 border-bottom">
				<a class="amp-navbar-brand text-theme-green mb-2" href="/">D.J. Seltzer</a>
			</div>

			<!--mobile navigation-->
			<div class="navbar-collapse">
				<ul class="navbar-nav ml-auto my-2">

					{% for item in site.data.navbar %}

						<li class="nav-item">
							<a class="nav-link{% if page.url == item.url %} active{% endif %}"
							   href="{{ item.url }}">{{ item.label }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

		</div>
	</nav>
</amp-sidebar>