{% for video in include.videos %}

	<div {% if forloop.last != true %} class="mb-5 pb-4" {% endif %}>

		<!--video title-->
		<h2 class="text-theme-white text-center mb-5">{{ video.title }}</h2>

		<!--dummy embed-->
		{% if video.dummy %}
			{% include common/media/video-embed/amp-dummy-embed.html video=video %}

		<!--youtube embed-->
		{% elsif video.youtube-id %}
			{% include common/media/video-embed/amp-youtube.html video=video %}

		{% endif %}

		<!--external link-->
		{% include common/media/video-embed/external-link.html video=video %}
	</div>
{% endfor %}