{% assign has-actors = false %}
{% for credit in include.credits %}

	{% assign credit-title-lower = credit.title | downcase %}
	{% if credit-title-lower == 'actors' %}
		{% assign has-actors = true %}
	{% endif %}
{% endfor %}

<h2 class="h3 mb-5 text-center text-md-left">
	{% if has-actors == true %}
		Cast and credits
	{% else %}
		Credits
	{% endif %}
</h2>

<div class="row">
	{% for credit in include.credits %}

		<div class="col-12 col-md-6 mt-3">
			<h3 class="h5">{{ credit.title }}</h3>
			<p>{{ credit.names | join: ", " }}</p>
		</div>
	{% endfor %}
</div>

{% if include.imdb %}
	<div class="row mt-3">
		<div class="col-12 mt-3 text-right">
			<p class="small">
				<a href="{{ include.imdb }}"
				   target="_blank"
				   class="text-theme-dark-red">IMDb</a>
			</p>
		</div>
	</div>
{% endif %}