$font-family-permanent-marker: "Permanent Marker", Arial, sans-serif !default;
$font-family-sign-painter: "SignPainter-HouseSlant-Regular", Arial, sans-serif !default;
$font-family-source-sans-pro: "Source Sans Pro", Arial, sans-serif !default;

.font-permanent-marker {
  font-family: $font-family-permanent-marker;
}

.font-sign-painter {
  font-family: $font-family-sign-painter;
}

.font-source-sans-pro {
  font-family: $font-family-source-sans-pro;
}

// body
body,
html {
  font-family: $font-family-source-sans-pro;
}

// heading
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $font-family-sign-painter;
}

// button
.btn {
  font-family: $font-family-sign-painter;
}

// navbar
.navbar-brand {
  font-family: $font-family-permanent-marker;
}

.navbar-nav {
  .nav-item {
    .nav-link {
      font-family: $font-family-sign-painter;
    }
  }
}