i {
  display: inline-block;
  text-rendering: auto;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}

.icon-stack-1x,
.icon-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.icon-stack-1x {
  line-height: inherit;
}

.icon-stack-2x {
  font-size: 2em;
}