body,
html {
  width: 100%;
  height: 100%;
}

section {

  h1, .h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;

    &.small {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1.4rem;

    &.small {
      font-size: 1.2rem;
    }
  }
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
}

.page-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}