@import "../bootstrap-variables-defaults";
@import "../../vendor/bootstrap-4.5.0/scss/mixins/hover";

amp-sidebar {
  width: 80vw;
}

.navbar {

  .amp-navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .amp-navbar-brand {
    font-size: 1.5rem;

    display: inline-block;
    padding-top: $navbar-brand-padding-y;
    padding-bottom: $navbar-brand-padding-y;
    margin-right: $navbar-padding-x;
    line-height: inherit;
    white-space: nowrap;

    @include hover-focus() {
      text-decoration: none;
    }
  }
}