@import "../colors/brands";

// empty iframe background - while loading
iframe {

  width: 100% !important;
  height: 100% !important;

  background-image: url('/img/skeleton/play-circle.svg');
  background-size: 15%;
  background-position: center;
  background-repeat: no-repeat;
}

.dummy-embed {

  i.icon-youtube,
  i.icon-play-circle {
    color: $youtube-play-button-gray !important;

    // transition
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-delay: 0s;
  }

  i.icon-circle,
  i.icon-square {
    color: white;
  }

  &:hover,
  &:active {

    i.icon-youtube {
      color: $youtube-red !important;
    }

    i.icon-play-circle {
      color: $facebook-blue !important;
    }
  }
}