@import "../colors/color-palette";

$navbar-height: 78px;

// copied from boostrap -> changed to theme black
$box-shadow:        0 .5rem 1rem rgba($theme-black, .15) !default;

.navbar {

  box-shadow: $box-shadow;

  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-nav {
    .nav-item {

      .nav-link {
        font-size: 1.5rem;
        padding: 0.75rem 0;

        color: $theme-white;

        &:hover,
        &:active {
          color: $theme-orange;
        }

        &.active {
          color: $theme-orange !important;
        }
      }
    }
  }

  // light
  &.navbar-light {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $theme-black;

          &:hover,
          &:active {
            color: $theme-orange;
          }

          &.active {
            color: $theme-green !important;
          }
        }
      }
    }
  }

  /* lg => 992px */
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {

        .nav-link {
          padding: 0 1rem;
        }

        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.mt-navbar-height {
  margin-top: $navbar-height !important;
}