<div class="pt-3 pt-md-5 px-3 px-md-5">
	<div class="row">

		<!--image-->
		<div class="col-12 col-md-3 mb-4 mb-md-0 pt-0 pt-md-1">
			{% include common/img/amp-img.html img=include.podcast.img %}
		</div>

		<div class="col-12 col-md-9 pl-md-4">

			<!--title-->
			<h2 class="text-theme-red h3 mt-0 mb-2">{{ include.podcast.title }}</h2>

			<!--host-->
			<div class="h4 mb-3">{{ include.podcast.host }}</div>

			<!--episode-->
			<h4 class="h4 small">{{ include.podcast.episode }}</h4>

			<!--listen links-->
			<div class="mt-2">
				{% include common/media/podcast/podcast-media-links.html links=include.podcast.links %}
			</div>
		</div>
	</div>
</div>