<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex">

	<!--title-->
	<title>404</title>

	{% include common/head/css.html %}

</head>
<body>

	<!-- navigation -->
	{% include common/navbar.html %}

	<!--title-->
	{% include common/title/page-title.html title="404" %}

	<section class="page-section pt-5">
		<div class="container">

			<div class="mx-3">
				<p><strong>Page not found :(</strong></p>
				<p>The requested page could not be found.</p>

				<a href="/" class="text-theme-dark-red">Go home</a>
			</div>

		</div>
	</section>

	<!--extend page-->
	<section class="page-section py-4"></section>

	{% include common/footer/footer.html %}
	{% include common/javascript.html %}

</body>
</html>
