<!DOCTYPE html>
<html lang="en">

{% include common/head/head.html %}

<body>

	<!-- navigation -->
	{% include common/navbar.html %}

	<section class="bg-name-banner">
		<div class="bg-theme-white container page-section">

			<!--title-->
			{% include common/title/page-title.html title="Contact" %}

			<!--contact links-->
			{% include contact/contact-links.html %}

		</div>

		<!--extend page-->
		<div class="bg-theme-white container page-section pt-0"></div>
	</section>

	<!-- footer -->
	{% include common/footer/footer.html %}
	{% include common/javascript.html %}
</body>
</html>
