<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

	<!-- Navigation -->
	{% include nav.html %}

	<!-- Masthead -->
	{% include masthead.html %}

	<!-- Acting Section -->
	{% include sections/acting.html %}

	<!-- Comedy Section -->
	{% include sections/comedy.html %}

	<!-- Portfolio Section -->
	{% include sections/portfolio.html %}

	<!-- Call to Action Section -->
	{% include sections/call-to-action.html %}

	<!-- Contact Section -->
	{% include sections/contact.html %}

	<!-- Footer -->
	{% include footer.html %}

	{% include javascript.html %}

</body>
</html>
