<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

	<!-- Navigation -->
	{% include nav.html %}

	<!-- Masthead -->
	{% include masthead.html %}

	<!-- Web Series Section -->
	{% include sections/web-series.html %}

	<!-- Stand-up Section -->
	{% include sections/stand-up.html %}

	<!-- Reel Section -->
	{% include sections/reel.html %}

	<!-- Contact Section -->
	{% include sections/contact.html %}

	<!-- Footer -->
	{% include footer.html %}

	{% include javascript.html %}

</body>
</html>
