---
layout: compress
---
<!doctype html>
<html amp lang="en">

	<!--head-->
	{% assign data = site.data.pages[page.data-page] %}
	{% include common/head/head.html data=data %}

	<!--body-->
	<body>
		<!-- navigation -->
		{% include common/amp-navbar.html %}

		<div class="h-100vh d-flex flex-column justify-content-between">
			<!--content-->
			<div>{{ content }}</div>

			<div>
				<!-- footer -->
				{% include common/footer/footer.html %}

				<!--google analytics-->
				{% include common/amp-google-analytics.html %}
			</div>
		</div>
	</body>
</html>