---
layout: compress
---
<!doctype html>
<html amp lang="en">

	<!--head-->
	{% assign data = site.data.pages[page.data-page] %}
	{% include common/head/head.html data=data %}

	<!--body-->
	<body>
		<!-- navigation -->
		{% include common/amp-navbar.html %}

		<!--content-->
		{{ content }}

		<!-- footer -->
		{% include common/footer/footer.html %}

		<!--google analytics-->
		{% include common/amp-google-analytics.html %}

		<!--amp components-->
		{% include common/amp-components.html data=data %}
	</body>
</html>