<!DOCTYPE html>
<html lang="en">

{% include common/head/head.html data=site.data.podcasts %}

<body>

	<!-- navigation -->
	{% include common/navbar.html %}

	<section class="bg-name-banner">

		<!--title and description-->
		<div class="bg-theme-white container page-section pb-5">

			{% include common/title/title-h1.html title="Podcasts" %}

			<p class="text-center">Podcasts featuring D.J. Seltzer</p>
		</div>

		<!--featured section-->
		{% include common/title/title-h2.html title="Featured on..." %}

		<div class="bg-theme-white container page-section pt-5">

			{% for podcast in site.data.podcasts.featured %}

				{% include podcasts/podcast-item.html podcast=podcast %}

				{% if forloop.last != true %}
					<div class="my-5">
						<hr class="divider divider-theme-gold"/>
					</div>
				{% endif %}

			{% endfor %}
		</div>

	</section>

	<!-- footer -->
	{% include common/footer/footer.html %}
	{% include common/javascript.html %}
</body>
</html>
