<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

	<!-- Navigation -->
	{% include nav.html %}

	<section class="page-section">
		<div class="container">

			<!--header-->
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<h2 class="mt-0">Stand-up Shows</h2>
					<hr class="divider my-4">
				</div>
			</div>

			<!--show table-->
			<div class="row">

				<!--date-->
				<div class="col-6 col-md-2 offset-md-2 order-2 order-md-1 mt-3 mt-md-0">
					<span class="h4">January 11, 2020</span>
				</div>

				<div class="col-12 col-md-4 order-1 order-md-2">

					<!--city-->
					<div>
						<span class="h2 text-secondary">Los Angeles, CA</span>
					</div>

					<!--venue-->
					<div>
						<span class="h3">The Comedy Store</span>
					</div>
				</div>

				<!--tickets-->
				<div class="col-6 col-md-2 order-3 mt-3 mt-md-0 text-right">
					<button class="btn btn-secondary btn-lg">Tickets</button>
				</div>

			</div>

			<div class="row mt-5">

				<!--date-->
				<div class="col-6 col-md-2 offset-md-2 order-2 order-md-1 mt-3 mt-md-0">
					<span class="h4">February 21, 2020</span>
				</div>

				<div class="col-12 col-md-4 order-1 order-md-2">

					<!--city-->
					<div>
						<span class="h2 text-secondary">New York, NY</span>
					</div>

					<!--venue-->
					<div>
						<span class="h3">The Comedy Cellar</span>
					</div>
				</div>

				<!--tickets-->
				<div class="col-6 col-md-2 order-3 mt-3 mt-md-0 text-right">
					<button class="btn btn-secondary btn-lg">Tickets</button>
				</div>

			</div>

			<div class="row mt-5">

				<!--date-->
				<div class="col-6 col-md-2 offset-md-2 order-2 order-md-1 mt-3 mt-md-0">
					<span class="h4">March 7, 2020</span>
				</div>

				<div class="col-12 col-md-4 order-1 order-md-2">

					<!--city-->
					<div>
						<span class="h2 text-secondary">Detroit, MI</span>
					</div>

					<!--venue-->
					<div>
						<span class="h3">Detroit Funny-bone</span>
					</div>
				</div>

				<!--tickets-->
				<div class="col-6 col-md-2 order-3 mt-3 mt-md-0 text-right">
					<button class="btn btn-secondary btn-lg">Tickets</button>
				</div>

			</div>

		</div>
	</section>

	<!-- Footer -->
	{% include footer.html %}

	{% include javascript.html %}

</body>
</html>
