<!DOCTYPE html>
<html lang="en">

{% include common/head/head.html data=site.data.pages.shows %}

<body>

	<!-- navigation -->
	{% include common/navbar.html %}

	<section class="bg-name-banner">
		<div class="container page-section bg-theme-white">

			<!--title-->
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">

					<h1 class="mt-0">Stand-up</h1>
					<hr class="divider divider-theme-gold my-4">
				</div>
			</div>

			<!--shows-->
			{% include shows/show-list.html %}

		</div>
	</section>

	<!-- footer -->
	{% include common/footer/footer.html %}
	{% include common/javascript.html %}
</body>
</html>
