<section class="bg-theme-black">
	<div class="container">
		<div class="row">

			<!--web series-->
			{% include home/card-item.html
					label="Web Series"
					url="/web-series"
					icon="fas fa-film"
					is_first=true %}

			<!--acting-->
			{% include home/card-item.html
					label="Acting"
					url="/acting"
					icon="fas fa-theater-masks" %}

			<!--podcasts-->
			{% include home/card-item.html
					label="Podcasts"
					url="/podcasts"
					icon="fas fa-microphone-alt" %}
		</div>
	</div>
</section>