<section class="bg-name-banner">
	<div class="bg-theme-white container page-section pb-5">

		<div class="d-flex flex-row justify-content-center">

			<!--name-->
			<div class="col-4 d-flex flex-row justify-content-end">
				<div class="h-100 d-flex flex-column justify-content-center">
					<div class="text-left">
						<h1 class="font-permanent-marker name-rotation">D.J.<br/>Seltzer</h1>
					</div>
				</div>
			</div>

			<!--profile image-->
			<div class="col-4 text-center">
				<img class="img-fluid rounded-circle border-theme-black border-5px w-75"
				     src="/img/profile/profile-pic.jpg"/>
			</div>

			<!--tagline-->
			<div class="col-4 d-flex flex-row justify-content-start">
				<div class="h-100 d-flex flex-column justify-content-center">
					<div class="text-right">
						<h2 class="text-theme-gold h3">actor.<br/>comedian.<br/>cool guy.</h2>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>