<div class="row">

	<!--name-->
	<div class="col-12 col-md-4 order-2 order-md-1 d-flex flex-row justify-content-center justify-content-md-end">
		<div class="h-100 d-flex flex-column justify-content-center">
			<div class="text-left">
				<h1 class="font-permanent-marker name-rotation">D.J.<br/>Seltzer</h1>
			</div>
		</div>
	</div>

	<!--profile image-->
	<div class="col-10 offset-1 col-md-4 offset-md-0 order-1 order-md-2 text-center">
		<img class="img-fluid rounded-circle border-theme-black border-5px w-75"
		     src="/img/profile/dj-seltzer-profile.jpg"/>
	</div>

	<!--tagline-->
	<div class="col-10 offset-1 col-md-4 offset-md-0 order-3 d-flex flex-row justify-content-end justify-content-md-start">
		<div class="h-100 d-flex flex-column justify-content-center">
			<div class="text-right">
				<h2 class="text-theme-gold h3">cool guy.</h2>
			</div>
		</div>
	</div>

</div>