<div class="row">

	<!--name-->
	<div class="col-12 col-lg-4 order-2 order-lg-1 d-flex flex-row justify-content-center justify-content-lg-end">
		<div class="h-100 d-flex flex-column justify-content-center">
			<div class="text-left">
				<h1 class="font-permanent-marker name-rotation">D.J.<br/>Seltzer</h1>
			</div>
		</div>
	</div>

	<!--profile image-->
	<div class="col-10 offset-1 col-lg-4 offset-lg-0 order-1 order-lg-2 d-flex flex-row justify-content-center">
		<div class="w-75">

			{% include common/img/amp-img.html
					img=site.data.pages.home.profile
					class="rounded-circle border-theme-black border-5px"
			%}
		</div>
	</div>

	<!--tagline-->
	<div class="col-10 offset-1 col-lg-4 offset-lg-0 order-3 d-flex flex-row justify-content-end justify-content-lg-start">
		<div class="h-100 d-flex flex-column justify-content-center">
			<div class="text-right">
				<div class="text-theme-gold h3">cool guy.</div>
			</div>
		</div>
	</div>

</div>