<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--title-->
	<title>{{ include.data.title }}</title>
	<meta property="og:title" content="{{ include.data.title }}" />

	<!--description-->
	<meta name="description" content="{{ include.data.description }}">
	<meta property="og:description" content="{{ include.data.description }}" />

	<!--seo-->
	{% include common/head/og.html %}

	<!--google tracking-->
	{% include common/head/google-tracking.html %}

	<!--favicon-->
	{% include common/head/favicon.html %}

	<!--css-->
	{% include common/head/css.html %}

	<!--structured data-->
	{% include common/head/structured-data.html structured_data=include.data.structured_data %}
</head>