<meta property="og:site_name" content="D.J. Seltzer" />

{% if include.data.og %}

	<meta property="og:type" content="{{ include.data.og.type }}" />

	<!--image-->
	{% if include.data.og.image %}
		<meta property="og:image" content="{{ include.data.og.image.url }}" />
		<meta property="og:type" content="{{ include.data.og.image.type }}" />
		<meta property="og:width" content="{{ include.data.og.image.width }}" />
		<meta property="og:height" content="{{ include.data.og.image.height }}" />
		<meta property="og:alt" content="{{ include.data.og.image.alt }}" />
	{% endif %}

	<!--custom properties-->
	{% if include.data.og %}
		{% for item in include.data.og.properties %}
			<meta property="{{ item.k }}" content="{{ item.v }}" />
		{% endfor %}
	{% endif %}
{% endif %}