<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@coolseltzer" />
<meta name="twitter:title" content="{{ include.data.page-title }}" />
<meta name="twitter:description" content="{{ include.data.description }}" />

<!--defaults-->
{% assign open-graph = site.data.seo.seo-defaults.open-graph %}

<!--page specific open graph-->
{% if include.data.open-graph %}
	{% assign open-graph = include.data.open-graph %}
{% endif %}

<meta name="twitter:image" content="{{ open-graph.image.url }}" />
<meta name="twitter:image:alt" content="{{ open-graph.image.alt }}" />