<h3 class="h5 small text-muted">Listen on:</h3>

<div class="d-flex flex-row">

	<!--spotify-->
	{% if include.links.spotify %}

		{% include common/media/podcast/media-link-item.html
			label="Spotify"
			url=include.links.spotify
			color="text-spotify-green"
			icon="icon-spotify" %}
	{% endif %}

	<!--itunes-->
	{% if include.links.itunes %}

		{% include common/media/podcast/media-link-item.html
			label="iTunes"
			url=include.links.itunes
			color="text-itunes-purple"
			icon="icon-podcast" %}
	{% endif %}

	<!--google play-->
	{% if include.links.google-play %}

		{% include common/media/podcast/media-link-item.html
			label="Google Play"
			url=include.links.google-play
			color="text-google-play-orange"
			icon="icon-google-play" %}
	{% endif %}

	<!--soundcloud-->
	{% if include.links.soundcloud %}

		{% include common/media/podcast/media-link-item.html
			label="SoundCloud"
			url=include.links.soundcloud
			color="text-soundcloud-orange"
			icon="icon-soundcloud" %}
	{% endif %}

	<!--stitcher-->
	{% if include.links.stitcher %}

		{% include common/media/podcast/media-link-item.html
			label="Stitcher"
			url=include.links.stitcher
			color="text-stitcher-blue"
			icon="icon-broadcast-tower" %}
	{% endif %}
</div>